body{
    font-family: 'Roboto';
    font-weight: 300;
}

h1{
    font-family: 'Cookie';
    font-weight: 200;
    font-size: 3rem;
}

button{
    padding: 0.5rem 1rem;
    border: 2px solid #000F;
    background-color: #FFFF;
    border-radius: 3rem;
    cursor: pointer;
    opacity: 0.7;
}

button:hover{
    opacity: 1;
}

input{
    padding: 0.5rem 1rem;
    border: 2px solid #000F;
    background-color: #FFFF;
    border-radius: 3rem;
    cursor: pointer;
    opacity: 0.7;
}

input:hover{
    opacity: 1;
}

tr{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 2rem;
}